{% load static %}

<link rel="stylesheet" type="text/css" href=" {% static '/css/style.css' %} ">

<div class="maincontainer">
    <div class="header">
      <div class="logo">
        <p><a href="index.html">umararshid.com</a></p>
      </div>
      <ul>
        <li><a href="#">about</a></li>
        <li><a href="#">projects</a></li>
        <li><a href="#">rambles</a></li>
      </ul>
    </div>
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
    <div class="footer">
    </div>
</div>
